@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- Custom CSS -->
    <link href="~/Content/stylish-portfolio.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="~/Content/fontFamily.css" rel="stylesheet" />
</head>

<body id="page-top">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">MyAwesomeBlog</h1>
            <h3 class="mb-5">
                <em>My Awesome Blog with Comment Features</em>
            </h3>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="posts">View All Posts</a>
        </div>
        <div class="overlay"></div>
    </header>
</body>